.overlay-child26,
.overlay-child27 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-palegoldenrod);
}
.overlay-child27 {
  height: 38.64%;
  top: 61.36%;
  background-color: var(--color-lemonchiffon);
}
.choose-your-plan11 {
  position: absolute;
  width: 11.34%;
  top: 0;
  left: 0;
  line-height: 12px;
  font-weight: 500;
  display: inline-block;
}
.customise-your-widget11 {
  left: 20.77%;
}
.choose-your-rewards11,
.customise-your-widget11,
.ready11,
.set-up-your11 {
  position: absolute;
  width: 14.14%;
  top: 0;
  line-height: 12px;
  display: inline-block;
}
.set-up-your11 {
  left: 42.06%;
  font-weight: 500;
}
.choose-your-rewards11,
.ready11 {
  left: 65.62%;
}
.ready11 {
  width: 15.71%;
  top: 18.75%;
  left: 84.29%;
  font-weight: 500;
}
.group-child104 {
  position: absolute;
  height: 1.56%;
  width: 83.07%;
  top: 67.97%;
  right: 9.51%;
  bottom: 30.47%;
  left: 7.42%;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
}
.group-child105,
.group-child106,
.group-child107,
.group-child108,
.group-child109 {
  position: absolute;
  height: 31.25%;
  width: 3.49%;
  top: 53.13%;
  right: 92.5%;
  bottom: 15.63%;
  left: 4.01%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child106,
.group-child107,
.group-child108,
.group-child109 {
  right: 70.33%;
  left: 26.18%;
}
.group-child107,
.group-child108,
.group-child109 {
  right: 49.39%;
  left: 47.12%;
  cursor: pointer;
}
.group-child108,
.group-child109 {
  height: 54.69%;
  width: 6.11%;
  top: 45.31%;
  right: 24.26%;
  bottom: 0;
  left: 69.63%;
}
.group-child109 {
  height: 31.25%;
  width: 3.49%;
  top: 53.13%;
  right: 6.11%;
  bottom: 15.63%;
  left: 90.4%;
}
.choose-your-plan-parent8 {
  position: relative;
  width: 573px;
  height: 64px;
  flex-shrink: 0;
}
.progress9 {
  position: absolute;
  top: calc(50% + 236px);
  left: calc(50% - 287px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.component-5-child3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.your-rewards-will6 {
  position: absolute;
  width: 62.02%;
  top: 39.53%;
  left: 18.99%;
  font-weight: 600;
  display: inline-block;
}
.component-55 {
  position: relative;
  width: 337px;
  height: 258px;
  flex-shrink: 0;
}
.component-5-wrapper3 {
  position: absolute;
  top: calc(50% - 148px);
  left: calc(50% + 6px);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-500);
}
.reward-name5 {
  position: absolute;
  height: 6.87%;
  width: 40.72%;
  top: 21.76%;
  left: 29.67%;
  font-size: var(--font-size-base);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.component-6-child3 {
  position: absolute;
  height: 8.78%;
  width: 64.17%;
  top: 29.39%;
  right: 18.03%;
  bottom: 61.83%;
  left: 17.8%;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-400);
  box-sizing: border-box;
}
.product-discount3 {
  position: absolute;
  height: 10.31%;
  width: 71.01%;
  top: 8.78%;
  left: 20.52%;
  font-size: var(--font-size-5xl);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.enter-discount2,
.select-products3 {
  position: absolute;
  height: 6.11%;
  width: 74.27%;
  top: 41.98%;
  left: 17.26%;
  font-weight: 600;
  text-align: left;
  display: inline-block;
}
.enter-discount2 {
  width: 52.12%;
  top: 55.34%;
}
.component-6-child4 {
  position: absolute;
  height: 8.78%;
  width: 16.29%;
  top: 54.2%;
  right: 16.94%;
  bottom: 37.02%;
  left: 66.78%;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-400);
  box-sizing: border-box;
}
.stamps-to-redeem5 {
  position: absolute;
  height: 6.11%;
  width: 52.12%;
  top: 69.08%;
  left: 17.26%;
  font-weight: 600;
  text-align: left;
  display: inline-block;
}
.component-6-child5 {
  position: absolute;
  height: 8.78%;
  width: 16.29%;
  top: 67.18%;
  right: 16.94%;
  bottom: 24.05%;
  left: 66.78%;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-400);
  box-sizing: border-box;
}
.group-child110 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background: linear-gradient(180deg, rgba(252, 231, 167, 0), #fce49c),
    linear-gradient(180deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)),
    #fdf1ca;
  box-shadow: 0 3px 1px rgba(179, 142, 25, 0.7);
}
.confirm5 {
  position: absolute;
  height: 59.26%;
  width: 70.59%;
  top: 25.93%;
  left: 15.29%;
  font-weight: 600;
  display: inline-block;
}
.rectangle-parent47 {
  position: absolute;
  height: 10.31%;
  width: 27.69%;
  top: 80.53%;
  right: 18.57%;
  bottom: 9.16%;
  left: 53.75%;
  text-align: right;
  color: var(--color-gray-300);
}
.group-child111 {
  position: absolute;
  height: 100%;
  width: 98.04%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 1.96%;
  border-radius: var(--br-8xs);
  background-color: var(--color-seagreen);
  box-shadow: 0 1px 1px #003326;
}
.browse3 {
  position: absolute;
  height: 47.83%;
  width: 100%;
  top: 26.09%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-parent48 {
  position: absolute;
  height: 8.78%;
  width: 16.61%;
  top: 41.22%;
  right: 16.94%;
  bottom: 50%;
  left: 66.45%;
  font-size: var(--font-size-3xs);
  color: var(--color-white);
}
.group-child112 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro);
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.29);
}
.back5 {
  position: absolute;
  height: 59.26%;
  width: 42.35%;
  top: 25.93%;
  left: 29.41%;
  font-weight: 600;
  display: inline-block;
}
.rectangle-parent49 {
  position: absolute;
  height: 10.31%;
  width: 27.69%;
  top: 80.53%;
  right: 51.47%;
  bottom: 9.16%;
  left: 20.85%;
  text-align: right;
  color: var(--color-gray-300);
}
.vector-icon6 {
  position: absolute;
  height: 15.27%;
  width: 13.03%;
  top: 5.73%;
  right: 80.78%;
  bottom: 79.01%;
  left: 6.19%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.component-6-container {
  position: absolute;
  top: calc(50% - 148px);
  left: calc(50% - 343px);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-11xs);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-sm);
}
.image-17-icon1 {
  position: relative;
  border-radius: var(--br-2xs);
  width: 410px;
  height: 448px;
  flex-shrink: 0;
  object-fit: cover;
  cursor: pointer;
}
.image-17-wrapper {
  position: absolute;
  top: calc(50% - 253px);
  left: calc(50% - 209px);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
}
.looking-great-now6 {
  position: relative;
  line-height: 40px;
}
.title2 {
  position: absolute;
  top: calc(50% - 301px);
  left: calc(50% - 763.5px);
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-343xl);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-9xl);
}
.div19,
.overlay11 {
  width: 100%;
  overflow: hidden;
}
.overlay11 {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.div19 {
  position: relative;
  background-color: var(--color-white);
  height: 704px;
  text-align: center;
  font-size: var(--font-size-3xs);
  color: var(--color-gray-600);
  font-family: var(--font-spartan);
}
